.login {

  &__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  &__container {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 50px auto;
    border: 1px solid gray;
    padding: 40px;
    border-radius: 4px;
  }

  &__login-btn {
    margin-top: 30px;
    text-align: center;

    button {
      max-width: 200px;
    }
  }

  mat-form-field {
    width: 100%;
  }
}
