<div class="dashboard">
  <div class="dashboard__admin-box">
    <ng-container *ngIf="loggedUser?.role == 'Admin'">
      <div class="dashboard__admin-text">You are an <strong>Admin</strong>, you can manage users</div>
      <button mat-raised-button color="primary" class="dashboard__admin-btn" (click)="goToUsers()">Go to Users</button>
    </ng-container>
    <button mat-raised-button color="seconday" class="ml-auto" (click)="onLogout()">Logout</button>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <div class="dashboard__container" *ngFor="let userAssessment of userAssessments"
           (click)="onGetUserAssessmentGraph(userAssessment.id)">
        <div class="dashboard__image">
          <img [src]="userAssessment.image_url">
        </div>
        <div class="dashboard__name">{{userAssessment.name}}</div>
      </div>
    </div>
    <div class="col-6">
      <div class="dashboard__chart-wrapper">
        <div class="dashboard__chart-title">User Assessment Bar Chart</div>
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
      </div>
    </div>
  </div>
</div>
