<div class="dashboard">
  <div class="dashboard__container" *ngFor="let userAssessment of userAssessments">
    <div class="dashboard__image">
      <img [src]="userAssessment.image_url">
    </div>
    <div class="dashboard__name">{{userAssessment.name}}</div>
  </div>
  <div class="dashboard__chart-wrapper">
    <div class="dashboard__chart-title">User Assessment Bar Chart</div>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div>
