.dashboard {
  padding: 25px 25px 25px 50px;

  &__container {
    margin-top: 25px;
    display: flex;
    align-items: center;
  }

  &__name {
    font-size: 22px;
    font-weight: 500;
    margin-left: 25px;
  }

  &__image {

    img {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__chart-wrapper {
    margin-top: 40px;

    canvas {
      max-width: 800px !important;
      max-height: 500px !important;
    }
  }

  &__chart-title {
    font-size: 18px;
    font-weight: 300;
    opacity: .8;
    margin-bottom: 20px;
  }
}
